<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Reservation</title>
    <link rel="stylesheet" href="/static/add_reservations.css"/>
</head>

<body>
<h1>Ajouter une Réservation </h1>
<form method="POST" action="/reservations/add">
    <label for="roomID">Room ID:</label>
    <input type="number" id="roomID" name="roomID" required><br>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br>

    <label for="startTime">Start Time:</label>
    <input type="time" id="startTime" name="startTime" required><br>

    <label for="endTime">End Time:</label>
    <input type="time" id="endTime" name="endTime" required><br>

    <input type="submit" value="Ajouter une Reservation">
</form>

<a href="/">Retour à l'Accueil </a>

</body>
</html>
