<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Salle</title>
    <link rel="stylesheet" type="text/css" href="/static/add_room.css"/>
</head>

<body>
<h1>Ajouter une Nouvelle Salle</h1>
{{if .Error}}
<p class="error-message">{{.Error}}</p>
{{end}}
<form action="/room/add" method="post">
    <label for="name">Nom de la Salle:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="capacity">Capacité:</label>
    <input type="number" id="capacity" name="capacity" required><br>
    <input type="submit" value="Ajouter la Salle">
</form>
<div>
    <a class="back-home-link" href="/">Retour à l'accueil</a>
</div>
</body>
</html>
