<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Téléchargements</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/home2quifaitchier.css">
</head>

<body>
<div class="container">
    <h1>Téléchargement des exports</h1>
    <nav>
        <ul>
            <li><a href="/download/csv">Télécharger un CSV</a></li>
            <li><a href="/download/json">Télécharger un JSON</a></li>
        </ul>
    </nav>
</div>
</body>
</html>
