<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service de Réservation en Ligne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/home2quifaitchier.css">
</head>

<body>
<div class="container">
    <h1>Bienvenue dans le Service de Réservation en Ligne</h1>
    <nav>
        <ul>
            <li><a href="/reservations">Voir les réservations</a></li>
            <li><a href="/reservations/add">Ajouter une réservation</a></li>
            <li><a href="/room/add">Ajouter une nouvelle salle</a></li>
            <li><a href="/room/list">Lister toutes les salles</a></li>
            <li><a href="/reservations_by_room">Réservations par salle</a></li>
            <li><a href="/reservations_by_date">Réservations par date</a></li>
            <li><a href="/check_availability">Vérifier la disponibilité d'une salle</a></li>
        </ul>
    </nav>
</div>
</body>
</html>
