<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des Salles</title>
    <link rel="stylesheet" href="/static/list_rooms.css">
</head>
<header>
    <button type="button" onclick="history.back()">Retour</button>
</header>
<body>
<h2>Liste des Salles</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Capacité</th>
    </tr>
    {{range .Rooms}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.Capacity}}</td>
    </tr>
    {{end}}
</table>
</body>
</html>