<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier Réservation</title>

</head>
<link rel="stylesheet" href="/static/modify_reservation.css">
<body>
<div class="container">
<h1>Modifier une Réservation</h1>
<form method="POST" action="/room/modify">
    <input type="hidden" id="reservationID" name="reservationID" value="{{.ID}}" required>

    <label for="newRoomID">Nouvel ID de Salle:</label>
    <input type="number" id="newRoomID" name="newRoomID" value="{{.RoomID}}" required><br>
    <label for="newDate">Nouvelle Date:</label>
    <input type="date" id="newDate" name="newDate" value="{{.Date}}" required><br>
    <label for="newStartTime">Nouveau Heure de Début:</label>
    <input type="time" id="newStartTime" name="newStartTime" value="{{.StartTime}}" required><br>
    <label for="newEndTime">Nouveau Heure de Fin:</label>
    <input type="time" id="newEndTime" name="newEndTime" value="{{.EndTime}}" required><br>
    <input type="submit" value="Modifier Réservation">
</form>


<a href="/">Retour à l'accueil</a>
</div>
</body>
</html>
