<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des Réservations</title>
    <link rel="stylesheet" href="/static/list_reservations.css"/>
</head>
<header>
    <button type="button" onclick="history.back()">Retour</button>
</header>
<body>
<h1>Liste des Réservations</h1>
{{range .}}
<div class="reservation">
    <ul>
        <li>ID Réservation: {{.ID}}</li>
        <li>Salle: {{.RoomID}}</li>
        <li>Date: {{.Date}}</li>
        <li>Heure de début: {{.StartTime}}</li>
        <li>Heure de fin: {{.EndTime}}</li>
    </ul>
    <div>
        <a href="/room/modify?id={{.ID}}">Modifier</a>
        <form action="/room/delete?id={{.ID}}" method="post" style="display:inline;">
            <button onclick="confirmDeletion(event, '{{.ID}}')">Supprimer</button>
        </form>
    </div>

</div>
{{else}}
<p>Aucune réservation trouvée.</p>
{{end}}


</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
        if (message) {
            const messageDiv = document.createElement('div');
            messageDiv.textContent = message;
            messageDiv.style.color = message.startsWith('Erreur') ? 'red' : 'green';
            messageDiv.style.position = 'fixed';
            messageDiv.style.top = '20px';
            messageDiv.style.left = '50%';
            messageDiv.style.transform = 'translateX(-50%)';
            messageDiv.style.backgroundColor = message.startsWith('Erreur') ? '#ffcccc' : '#ccffcc';
            messageDiv.style.border = '1px solid';
            messageDiv.style.padding = '10px';
            messageDiv.style.borderRadius = '5px';
            messageDiv.style.boxShadow = '0 2px 4px rgba(0, 0, 0, 0.2)';
            document.body.prepend(messageDiv);

            setTimeout(() => {
                messageDiv.remove();
            }, 4000);
        }
    });

    function confirmDeletion(event, reservationId) {
        if (!confirm('Êtes-vous sûr de vouloir supprimer cette réservation?')) {
            event.preventDefault();
        } else {
            // If confirmed, submit the form automatically via POST request
            var form = document.createElement('form');
            form.method = 'post';
            form.action = '/room/delete?id=' + reservationId;
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>

</html>
